@import url("https://fonts.googleapis.com/css?family=Numans");
html, body {
  background-image: url("https://www.wallpaperflare.com/static/574/488/34/nature-landscape-mountains-starry-night-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.card[style*="display: none;"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: #ffffff;
  cursor: pointer;
}

.card-header h3 {
  color: #ffffff;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #ffffff;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #000000;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.text-bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #18283f;
  z-index: 9999;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vw;
}

.circle {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: bounce 1.5s 0.5s linear infinite;
          animation: bounce 1.5s 0.5s linear infinite;
}

.circle:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-color: #feb60a;
}

.circle:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  background-color: #ff0062;
}

.circle:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  background-color: #00dbf9;
}

.circle:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  background-color: #da00f7;
}

.circle:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  background-color: #004e00;
}

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  25% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  75% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  25% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  75% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
